/* General */

header {
    height: 100px;
    background-color: rgb(44, 62, 80);
}

section {
    min-height: 400px;
}

/* Utils */

.bg-watergreen {
    background-color: rgb(26, 188, 156);
}

.card-immagine {
    height: 200px;
    background-color: dodgerblue;
}

#address {
    background-color: rgb(58, 84, 109);
}