/* General */

header {
    height: 100px;
}

/* Utils */

.bg-watergreen {
    background-color: rgb(26, 188, 156);
}

.bg-darkgrey {
    background-color: rgb(44, 62, 80);
}

.font-darkgrey {
    color: rgb(44, 62, 80);
}

span.star-line {
    display: inline-block;
    border: 2px solid currentColor;
    border-radius: 5px;
    width: 15%;
}

/* Header */

header .navbar-dark {
    --bs-navbar-toggler-border-color: rgb(255, 255, 255);
}

/* Section Jumbo */

#jumbo figure {
    width: 200px;
}

/* Section About */

#about p {
    font-size: 18px;
}

/* Section Contact */

#contact input::placeholder,
#contact textarea::placeholder {
    color: rgb(44, 62, 80);
    font-size: 20px;
    font-weight: 600;
}

#contact .btn-success {
    --bs-btn-bg: rgb(26, 188, 156);
    --bs-btn-hover-bg: rgb(26, 188, 156);
    --bs-btn-font-size: 1.2rem;
}

/* Footer Top */

.footer-top {
    background-color: rgb(58, 84, 109);
}

.footer-top .fa-brands {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50%;
}

.footer-top a {
    color: rgb(26, 188, 156);
}

/* Footer Bottom */

.footer-bottom {
    font-size: 14px;
}

@media screen and (min-width:768px) {
    .footer-top h6 {
        font-size: 22px;
    }

    .footer-top p {
        font-size: 16px;
    }
}

@media screen and (min-width:992px) {
    .small-lg {
        font-size: 12px;
    }
}