/* General */

header {
    height: 100px;
}

section {
    min-height: 400px;
}

footer {
    height: 80px;
}

/* Utils */

.bg-watergreen {
    background-color: rgb(26, 188, 156);
}

.bg-darkgrey {
    background-color: rgb(44, 62, 80);
}

.card-immagine {
    height: 200px;
    background-color: dodgerblue;
}

span.star-line {
    display: inline-block;
    border: 2px solid currentColor;
    border-radius: 5px;
    width: 15%;
}

/* Section Jumbo */

#jumbo figure {
    width: 200px;
}

/* Section Address */

#address {
    background-color: rgb(58, 84, 109);
}

@media screen and (min-width:992px) {
    .small-lg {
        font-size: 12px;
    }
}